html {
  background-color: whitesmoke
}

h1 {
  text-align: center;
  border: 3px solid rgb(42, 46, 42);
  background-color: rgb(231, 231, 231);
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 3rem;
  width: 18rem;
}

.cell {
  background-color:white;
  border: 1px black solid;
  height: 8rem;
  font-size: 7rem;
  text-align: center;
}

.cell:hover {
  background-color: lightcyan;
}

.gameBoard {
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
  grid-gap: 0.5rem;
}

.gameSpace {
  border: 2rem solid gray;
  margin: 0 auto;
  background-color: rgb(1, 14, 14);
  width: 25rem;
}